node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

actions-runner/
coverage/

.terraform/
*.tfstate
*.tfstate.backup

*.box
*.qcow2
*.qcow2.meta
noble-server-cloudimg-*

*-init.cfg
cloud_init.cfg